@import "~bootstrap/scss/bootstrap.scss";
.LightTop{
    background: black;
    height:100px;
    width: 25px;
}
.TrafficLight {
    background: black;
    border-radius: 15px;
    width: 80px;
    height: 260px;
    margin: auto;

}
.space{
    height: 1px;
}
.TrafficLight div {
    border-radius: 800px;
    height: 70px;
    margin: 5px;

}
.redLight {
    background: red;
}
.yellowLight{
    background: yellow;
}
.greenLight {
    background: green;
}